<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Приложению нужен доступ к галерее для выбора фото для примерки одежды</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Приложению нужен доступ для сохранения изображений в галерею</string>
	<key>NSCameraUsageDescription</key>
	<string>Приложению нужен доступ к камере для съемки фото для примерки одежды</string>
	<key>UIAppFonts</key>
	<array>
		<string>YandexSansDisplay-Light.ttf</string>
		<string>YandexSansDisplay-Bold.ttf</string>
		<string>YS Text Cond-Heavy.ttf</string>
		<string>YS Text Cond-Medium.ttf</string>
		<string>YS Text-Medium.ttf</string>
		<string>YS Text-Regular.ttf</string>
		<string>YS Text-Bold.ttf</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
